/* HOME ICONS*/ 


.hm-intro {padding: 20px 0; background: #1f2863; color: #fff;

	p {color: #fff;
		a {}
	} 
	
}

/* Supporters panel */

.logo-wrap {padding: 5% 15%; -ms-flex: 0 0 100%;
    flex: 0 0 100%;}
	
.logo-wrap.logo-small {padding: 5% 20%;}

.row .supporter-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.jobs-image { text-align: center; bottom: 0;
	img {max-width: 250px}
}

@media (min-width: 992px) {
	.jobs-image { text-align: right; position: absolute; bottom:0; right: 0; z-index: 0;}	
}

@media (min-width: 1200px) {
	.jobs-image { 
	img {max-width: 350px}
}
	
}