/* HOME ICONS*/ 


.icons-wrap {padding: 20px 0;

	p{
		a {color: #fff;}
	} 
	
	img {max-width: 40%; transition: transform .2s; /* Animation */}
}

.icons-wrap {padding: 20px 0; margin-bottom: 40px;}

@media (min-width: 576px) {
	.icons-wrap {
		img {max-width: 60%; 
		&:hover { transform: scale(1.2);}
			}
}
}

@media (max-width: 992px) {
.icons-wrap {
	p {margin: 0 0 1rem;}	
}
}

/* HOME SERVICES */ 

.services-wrap {
	
	.service-item {background: #fff; margin-bottom: 20px;
		
		.ser-image {position: relative;
			p {color: #fff; font-size: 1.6rem; font-weight: 500; position: absolute; bottom: 0; left: 0; background: rgba(000,000,000,.7); padding: 8px 12px; margin: 0;}
			a {color: #fff;}
			img {width:100%; height: auto;}
		
		}
		
		.ser-links {padding: 12px 12px 12px 24px;
		
			.section-link {position: relative;
			i {position: absolute;left: -12px;top: 4px;}
			}
			
			a {font-size: .85rem;}
		}
		
	}
	
}


.services-border {

.services-h2 {margin-top: 1rem; margin-bottom: 1rem; color: #fff;} 
	
	}

@media (min-width: 992px) {
	.services-border {padding: 0 20px 20px; margin: 20px auto; border: 2px solid rgba(255,255,255,.3);
	.services-h2 {margin-top: -1.25rem; margin-bottom: 1.5rem;
		span {background: #063844; padding: 0 16px;}
		}
	}
}


/* HOME MEMBERSHIP */ 

.hm-membership {background: #439c88; padding: 40px 0;
	
	h3 { font-size: 1.25rem; margin-bottom: 0;
		
		a {color: #fff;}
	}
	p {margin-top: .5rem;
		a {color: #063844; text-decoration: none;
		&:hover {color: #176c65; text-decoration: underline;}
		}
		
	}
	
}

@media (max-width: 768px) {
.hm-membership {
	.row {
		&.mship-benefit-items {padding-left: 15%; padding-right: 15%;}
	}
}
}