html {
}

html, body {
	font-size: 100%;
}

body {
	font-size: .95rem;
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	background: #1f2863;
	font-weight: 400;
}

#wrapper {max-width: 1890px; margin: 0 auto; background: #fff;}

a {color: #1e81b2;text-decoration:none;
	&:hover {color: #1e81b2;text-decoration: underline;}
	&:focus {outline:none;}
	}

b, strong {
    font-weight: 600;
}

p {margin:1rem 0;}

em {
	font-style: italic; 
}

img {max-width: 100%; height: auto;}

blockquote {background-color: #F3F3F3; border: solid 1px #ccc; padding: 10px 20px; border-radius: 8px; margin: 10px 0;

&cite {font-style: italic;}

}

/* FOOTER ELEMENTS 

--------------------------------------------------*/

footer {
	color: #fff;
	a {
	color: rgb(153, 153, 153);
	text-decoration: none;
		&:hover {
		color: rgb(102, 102, 102);
		text-decoration: underline;
		}
	img {width: 46%; height: auto;padding-right: 5%;}
	}
	h2 {
	color: #fff;
	font-size: 1em;
	margin: 0 0 8px;
	letter-spacing: 0.4px;
	font-weight:700;
	}
	
	ul {
		li{
			a {line-height: 150%;}	
		}
	}
	
}

@media (max-width: 768px) {
footer {
	.row {padding-left: 15%; padding-right: 15%;}
}
}

.ftwraptop{
		background-color: #1f2863;
		padding: 30px 0;
	}

.ftwrapbot{
		background-color: #000;
		padding: 30px 0;	
	}

.footer-menu {
	li {list-style: none;}
}

.footerleft {margin-bottom: 20px;
	ul {padding-left: 0;
		&.member-login
		li {
		border-bottom: 1px dotted rgb(97, 103, 106);
		padding-bottom: 5px;
		margin-bottom: 5px;
		}
		}
}

.footermiddle {margin-bottom: 20px;}

.footerright {margin-bottom: 20px;
	p {
		&.copyright {color: #BFBFBF; font-size: .8em; margin-top: .75em;}
	}
}

@media (min-width: 768px) {
footer {
	.footerleft {margin-bottom: 0px;}
	.footermiddle {margin-bottom: 0px;}
	.footerright {margin-bottom: 0px;}
}
}

footer {
	fieldset{
	label {color: $grey_5; margin: .25rem 0 0;}
	input {width: 80%; height: 2rem; border-radius: 4px; border: none; padding: 4px 8px; 
		&.username {margin-top: .25rem; margin-bottom: .5rem;}
		&.password {margin-top: .25rem; margin-bottom: .5rem;}
		&.buttons {width: auto; margin: .5rem .25rem .5rem 0; color: $grey_20; background: $yellow_5;}
		}
	}
}

